.*
*.o
*.o.*
*.so
*.so.dbg
*.bin
*.gz
*.obj
*.user
*.manifest
*.suo
*.ncb
*.pdb
*.ilk
*.exp
*.tmp
*.aps
*.opensdf
temp/*
build/*
bin/*
ipch/*
Debug/*
Release/*
New Folder/*
*.sdf
VS2010/*.vcxproj.user
VS2010/*.vcxproj.filters

*.patch
*.diff

!.gitignore
