/*
Copyright (C) 2007, 2010 - Bit-Blot

This file is part of Aquaria.

Aquaria is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*/

#include "AquariaCompileConfig.h"

#include <Winver.h>
#include <Windows.h>

#define AQUARIA_RC_FILEVERSION 1,1,3,999
#define AQUARIA_RC_PRODUCTVERSION 1,1,3,0
#define AQUARIA_RC_PRODUCTVERSION_STRING "1.1.3"
#ifdef AQUARIA_OVERRIDE_VERSION_STRING
#  define AQUARIA_RC_COMMENTS AQUARIA_OVERRIDE_VERSION_STRING
#else
#  define AQUARIA_RC_COMMENTS "Open Source Build"
#endif
#define AQUARIA_RC_FILEVERSION_STRING "1.1.3.OSE"

// Version information
1 VERSIONINFO
FILEVERSION AQUARIA_RC_FILEVERSION
PRODUCTVERSION AQUARIA_RC_PRODUCTVERSION
//FILEOS VOS__WINDOWS32
//FILETYPE VFT_APP

BEGIN
BLOCK "StringFileInfo"
BEGIN
	BLOCK "100904B0"
	BEGIN
		VALUE "Comments", AQUARIA_RC_COMMENTS
		VALUE "CompanyName", "Bit Blot"
		VALUE "FileDescription", "Aquaria"
		VALUE "FileVersion", AQUARIA_RC_FILEVERSION_STRING
		VALUE "InternalName", "Aquaria"
		VALUE "LegalCopyright", "© 2007-2011 Bit Blot, LLC"
		VALUE "OriginalFilename", "Aquaria.exe"
		VALUE "ProductName", "Aquaria"
		VALUE "ProductVersion", AQUARIA_RC_PRODUCTVERSION_STRING
	END
END

BLOCK "VarFileInfo"
BEGIN
	VALUE "Translation", 0x1009, 1200
END
END

// Icon
101 ICON "AquariaOSE.ico"

